# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT
src/main/java/META-INF/MANIFEST.MF
pom.xml
data/test_idecapitator.txt
data/test_storage.txt
target/classes/Deadline.class
target/classes/Event.class
target/classes/Idecapitator.class
target/classes/IdecapitatorException.class
target/classes/Storage.class
target/classes/Task.class
target/classes/TaskList.class
target/classes/Todo.class
target/classes/Ui.class
target/test-classes/DateTimeParsingTest.class
target/test-classes/IdecapitatorTest.class
target/test-classes/StorageTest.class
target/test-classes/TaskListTest.class
target/test-classes/TaskTest.class
